In [9]:
import numpy as np
import pandas as pd

#  Dados

 Links para download dos dados:

Performance de estudantes de educação superior
 - https://www.kaggle.com/datasets/csafrit2/higher-education-students-performance-evaluation

 PErformance de estudantes de educação secundária
 - https://www.kaggle.com/datasets/larsen0966/student-performance-data-set

## Descrição dos Datasets

### Higher Education Students Performance Evaluation

Referência:

Yılmaz, Nevriye & Sekeroglu, Boran. (2020). Student Performance Classification Using Artificial Intelligence Techniques. 10.1007/978-3-030-35249-3_76.

Abstract:

The data was collected from the Faculty of Engineering and Faculty of Educational Sciences students in 2019. The purpose is to predict students' end-of-term performances using ML techniques.

O dataset foi obtido através de um questionário aplicado a estudantes de 2 faculdades da Near East University na Turquia. Esses estudantes eram alunos de três cursos: 

- ‘Assessment and Evaluation in Education’ of Faculty of Education
- ‘General Physics II’ 
- ‘Electronics’ of Faculty of Engineering.

Descrição dos atributos:

- Student Age (1: 18-21, 2: 22-25, 3: above 26)
- Sex (1: female, 2: male)
- Graduated high-school type: (1: private, 2: state, 3: other)
- Scholarship type: (1: None, 2: 25%, 3: 50%, 4: 75%, 5: Full)
- Additional work: (1: Yes, 2: No)
- Regular artistic or sports activity: (1: Yes, 2: No)
- Do you have a partner: (1: Yes, 2: No)
- Total salary if available (1: USD 135-200, 2: USD 201-270, 3: USD 271-340, 4: USD 341-410, 5: above 410)
- Transportation to the university: (1: Bus, 2: Private car/taxi, 3: bicycle, 4: Other)
- Accommodation type in Cyprus: (1: rental, 2: dormitory, 3: with family, 4: Other)
- Mother's education: (1: primary school, 2: secondary school, 3: high school, 4: university, 5: MSc., 6: Ph.D.)
- Father's education: (1: primary school, 2: secondary school, 3: high school, 4: university, 5: MSc., 6: Ph.D.)
- Number of sisters/brothers (if available): (1: 1, 2:, 2, 3: 3, 4: 4, 5: 5 or above)
- Parental status: (1: married, 2: divorced, 3: died - one of them or both) ***Listed as "Kids"…woops
- Mother's occupation: (1: retired, 2: housewife, 3: government officer, 4: private sector employee, 5: self-employment, 6: other)
- Father's occupation: (1: retired, 2: government officer, 3: private sector employee, 4: self-employment, 5: other)
- Weekly study hours: (1: None, 2: <5 hours, 3: 6-10 hours, 4: 11-20 hours, 5: more than 20 hours)
- Reading frequency (non-scientific books/journals): (1: None, 2: Sometimes, 3: Often)
- Reading frequency (scientific books/journals): (1: None, 2: Sometimes, 3: Often)
- Attendance to the seminars/conferences related to the department: (1: Yes, 2: No)
- Impact of your projects/activities on your success: (1: positive, 2: negative, 3: neutral)
- Attendance to classes (1: always, 2: sometimes, 3: never)
- Preparation to midterm exams 1: (1: alone, 2: with friends, 3: not applicable)
- Preparation to midterm exams 2: (1: closest date to the exam, 2: regularly during the semester, 3: never)
- Taking notes in classes: (1: never, 2: sometimes, 3: always)
- Listening in classes: (1: never, 2: sometimes, 3: always)
- Discussion improves my interest and success in the course: (1: never, 2: sometimes, 3: always)
- Flip-classroom: (1: not useful, 2: useful, 3: not applicable)
- Cumulative grade point average in the last semester (/4.00): (1: <2.00, 2: 2.00-2.49, 3: 2.50-2.99, 4: 3.00-3.49, 5: above 3.49)
- Expected Cumulative grade point average in the graduation (/4.00): (1: <2.00, 2: 2.00-2.49, 3: 2.50-2.99, 4: 3.00-3.49, 5: above 3.49)
- Course ID
- OUTPUT Grade (0: Fail, 1: DD, 2: DC, 3: CC, 4: CB, 5: BB, 6: BA, 7: AA)

### Student Performance in Secondary Education

Referência:

Cortez, Paulo & Silva, Alice. (2008). Using data mining to predict secondary school student performance. EUROSIS.

This data approach student achievement in secondary education of two Portuguese schools. The data attributes include student grades, demographic, social and school related features) and it was collected by using school reports and questionnaires. Two datasets are provided regarding the performance in two distinct subjects: Mathematics (mat) and Portuguese language (por)

Atributos:

- school     : student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
- sex        : student's sex (binary: 'F' - female or 'M' - male)
- age        : student's age (numeric: from 15 to 22)
- address    : student's home address type (binary: 'U' - urban or 'R' - rural)
- famsize    : family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
- Pstatus    : parent's cohabitation status (binary: 'T' - living together or 'A' - apart)
- Medu       : mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education)
- Fedu       : father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education)
- Mjob       : mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- Fjob       : father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- reason     : reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
- guardian   : student's guardian (nominal: 'mother', 'father' or 'other')
- traveltime : home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
- studytime  : weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
- failures   : number of past class failures (numeric: n if 1<=n<3, else 4)
- schoolsup  : extra educational support (binary: yes or no)
- famsup     : family educational support (binary: yes or no)
- paid       : extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
- activities : extra-curricular activities (binary: yes or no)
- nursery    : attended nursery school (binary: yes or no)
- higher     : wants to take higher education (binary: yes or no)
- internet   : Internet access at home (binary: yes or no)
- romantic   : with a romantic relationship (binary: yes or no)
- famrel     : quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
- freetime   : free time after school (numeric: from 1 - very low to 5 - very high)
- goout      : going out with friends (numeric: from 1 - very low to 5 - very high)
- Dalc       : workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
- Walc       : weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
- health     : current health status (numeric: from 1 - very bad to 5 - very good)
- absences   : number of school absences (numeric: from 0 to 93)
- G1         : first period grade (numeric: from 0 to 20)
- G2         : second period grade (numeric: from 0 to 20)
- G3         : final grade (numeric: from 0 to 20, output target)

## Carregar Dados

In [12]:
#Pasta os os datasets estão armazenados

path='../dados/'

In [13]:
df_higher_education    = pd.read_csv(path+'higher_education_student_prediction.csv')
df_secondary_education = pd.read_csv(path+'Secondary_student_performance.csv')

# Análise Exploratória

## Higher Education

In [15]:
df_higher_education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 33 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STUDENTID      145 non-null    object
 1   AGE            145 non-null    int64
 2   GENDER         145 non-null    int64
 3   HS_TYPE        145 non-null    int64
 4   SCHOLARSHIP    145 non-null    int64
 5   WORK           145 non-null    int64
 6   ACTIVITY       145 non-null    int64
 7   PARTNER        145 non-null    int64
 8   SALARY         145 non-null    int64
 9   TRANSPORT      145 non-null    int64
 10  LIVING         145 non-null    int64
 11  MOTHER_EDU     145 non-null    int64
 12  FATHER_EDU     145 non-null    int64
 13  #_SIBLINGS     145 non-null    int64
 14  KIDS           145 non-null    int64
 15  MOTHER_JOB     145 non-null    int64
 16  FATHER_JOB     145 non-null    int64
 17  STUDY_HRS      145 non-null    int64
 18  READ_FREQ      145 non-null    int64
 19  READ_FREQ_SCI  145 non-null    int64
 20  ATTEND_DEPT    145 non-null    int64
 21  IMPACT         145 non-null    int64
 22  ATTEND         145 non-null    int64
 23  PREP_STUDY     145 non-null    int64
 24  PREP_EXAM      145 non-null    int64
 25  NOTES          145 non-null    int64
 26  LISTENS        145 non-null    int64
 27  LIKES_DISCUSS  145 non-null    int64
 28  CLASSROOM      145 non-null    int64
 29  CUML_GPA       145 non-null    int64
 30  EXP_GPA        145 non-null    int64
 31  COURSE ID      145 non-null    int64
 32  GRADE          145 non-null    int64
dtypes: int64(32), object(1)
memory usage: 37.5+ KB

In [17]:
df_higher_education.describe()

,AGE,GENDER,HS_TYPE,SCHOLARSHIP,WORK,ACTIVITY,PARTNER,SALARY,TRANSPORT,LIVING,...,PREP_STUDY,PREP_EXAM,NOTES,LISTENS,LIKES_DISCUSS,CLASSROOM,CUML_GPA,EXP_GPA,COURSE ID,GRADE
count,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,...,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,1.620690,1.600000,1.944828,3.572414,1.662069,1.600000,1.579310,1.627586,1.620690,1.731034,...,1.337931,1.165517,2.544828,2.055172,2.393103,1.806897,3.124138,2.724138,4.131034,3.227586
std,0.613154,0.491596,0.537216,0.805750,0.474644,0.491596,0.495381,1.020245,1.061112,0.783999,...,0.614870,0.408483,0.564940,0.674736,0.604343,0.810492,1.301083,0.916536,3.260145,2.197678
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,...,1.000000,1.000000,3.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000
75%,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,1.000000,3.000000,3.000000,3.000000,2.000000,4.000000,3.000000,7.000000,5.000000
max,3.000000,2.000000,3.000000,5.000000,2.000000,2.000000,2.000000,5.000000,4.000000,4.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,4.000000,9.000000,7.000000